<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.audiospotapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
            android:name=".AudioSpotApp"
            android:allowBackup="true"
            android:icon="@mipmap/start"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".UI.myBookmarks.MyBookmarksActivity">
        </activity>
        <activity android:name=".UI.addBookmark.AddBookmarkActivity">
        </activity>

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@mipmap/start"/>
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent"/>
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity
                android:name="com.facebook.FacebookActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                tools:replace="android:theme"/>
        <activity
                android:name=".UI.splash.SplashActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".UI.login.LoginActivity"
                android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
        </activity>
        <activity android:name=".UI.homepage.HomepageActivity">
        </activity>
        <activity android:name=".UI.forgetPassword.ForgetPasswordActivity">
        </activity>
        <activity android:name=".UI.register.RegisterActivity">
        </activity>
        <activity android:name=".UI.authors.AuthorsActivity">
        </activity>
        <activity android:name=".UI.books.BooksActivity">
        </activity>
        <activity android:name=".UI.cart.CartActivity">
        </activity>
        <activity android:name=".UI.giveAgift.GiveGiftActivity">
        </activity>
        <activity android:name=".UI.bookChapters.BookChaptersActivity">
        </activity>
        <activity android:name=".UI.bookReviews.BookReviewsActivity">
        </activity>
        <activity android:name=".UI.changePassword.ChangePasswordActivity">
        </activity>
        <activity android:name=".UI.updateProfile.UpdateProfileActivity">
        </activity>
        <activity android:name=".UI.profile.ProfileActivity">
        </activity>
        <activity android:name=".UI.bookDetails.BookDetailsActivity">
        </activity>
        <activity android:name=".UI.publisherDetails.PublisherDetailsActivity">
        </activity>
        <activity android:name=".UI.authorDetails.AuthorDetailsActivity">
        </activity>
        <activity android:name=".UI.publishers.PublishersActivity">
        </activity>
        <activity android:name=".UI.categories.CategoriesActivity">
        </activity>
        <activity android:name=".UI.settings.SettingsActivity">
        </activity>
        <activity android:name=".UI.contactUs.ContactUsActivity">
        </activity>
        <activity android:name=".UI.myFavourite.MyFavouriteBooksActivity">
        </activity>

        <service
                android:name=".DataLayer.Firebase.MyFirebaseMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
                android:name="dm.audiostreamer.AudioStreamingService"
                android:enabled="true"
                android:exported="true"/>

        <receiver android:name="dm.audiostreamer.AudioStreamingReceiver">
            <intent-filter>
                <action android:name="dm.audiostreamer.close"/>
                <action android:name="dm.audiostreamer.pause"/>
                <action android:name="dm.audiostreamer.next"/>
                <action android:name="dm.audiostreamer.play"/>
                <action android:name="dm.audiostreamer.previous"/>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>