<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.audiospotapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".AudioSpotApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:name">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.splash.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".ui.homepage.HomepageActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".ui.forgetPassword.ForgetPasswordActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".ui.authors.AuthorsActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.books.BooksActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.cart.CartActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.giveAgift.GiveGiftActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.bookChapters.BookChaptersActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.bookReviews.BookReviewsActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.changePassword.ChangePasswordActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.updateProfile.UpdateProfileActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.bookDetails.BookDetailsActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.publisherDetails.PublisherDetailsActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.authorDetails.AuthorDetailsActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.publishers.PublishersActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.categories.CategoriesActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.contactUs.ContactUsActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.myFavourite.MyFavouriteBooksActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.rateBook.RateBookActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.myBookmarks.MyBookmarksActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.addBookmark.AddBookmarkActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.promoCodeCongratulations.CongratulationsActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.voucher.VoucherActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.promoCode.PromoCodeActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.payment.PaymentActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.giftSelection.GiftSelectionActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:configChanges="orientation" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />

        <service
            android:name=".data.firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.ps.pexoplayer.services.MediaService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>
</manifest>